{{ define "main" }}

<!--
██   ██ ███████  █████  ██████  ███████ ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
███████ █████   ███████ ██   ██ █████   ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
██   ██ ███████ ██   ██ ██████  ███████ ██   ██                               
-->

<div class="bg-white">
  <div class="bg-green-800 text-white text-center py-4">
    <p class="">
      <a href="#form" class=""
        >Sign the petition that Says YES to a Solar-Powered Lenawee!</a
      >
    </p>
  </div>

  <header>
    <div class="relative bg-white">
      <div
        class="mx-auto flex max-w-7xl items-center justify-between px-4 py-6 sm:px-6 md:justify-start md:space-x-10 lg:px-8"
      >
        <div class="flex justify-start lg:w-0 lg:flex-1">
          <a href="#">
            <span class="sr-only">Say Yes to a Solar Powered Lenawee</span>
            <img class="h-12 w-auto sm:h-10" src="/images/logo.png" alt="" />
          </a>
        </div>

        <nav class="space-x-10 md:flex">
          <a
            href="letter.html"
            class="text-base font-medium text-gray-500 hover:text-gray-900"
            >Letter</a
          >
          <a
            href="https://www.facebook.com/lenaweesolar"
            class="text-base font-medium text-gray-500 hover:text-gray-900"
            >Facebook</a
          >
          <a
            href="#form"
            class="text-base font-medium text-gray-500 hover:text-gray-900"
            >Sign the Petition</a
          >
        </nav>
      </div>
    </div>
  </header>

  <!--
███    ███  █████  ██ ███    ██ 
████  ████ ██   ██ ██ ████   ██ 
██ ████ ██ ███████ ██ ██ ██  ██ 
██  ██  ██ ██   ██ ██ ██  ██ ██ 
██      ██ ██   ██ ██ ██   ████ 
-->
  <main>
    <!--
██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
-->
    <!-- Hero section -->
    <div class="relative">
      <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="relative shadow-xl sm:overflow-hidden sm:rounded-2xl">
          <div class="absolute inset-0">
            <img
              class="h-full w-full object-cover"
              src="/images/header.jpg"
              alt="People working on laptops"
            />
          </div>
          <div class="absolute inset-0">
            <img
              class="h-full w-full object-cover"
              src="/images/header.jpg"
              alt="People working on laptops"
            />
            <div class="absolute inset-0 bg-slate-400 mix-blend-multiply"></div>
          </div>
          <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
            <h1
              class="text-center text-4xl font-bold tracking-tight sm:text-5xl lg:text-6xl"
            >
              <span class="block text-white drop-shadow-lg shadow-black"
                >Lenawee County farmers</span
              >
              <span class="block text-white drop-shadow-lg shadow-black"
                >know how to harvest...</span
              >
            </h1>
            <p
              class="mx-auto mt-6 max-w-lg text-center text-2xl text-white drop-shadow-lg shadow-black sm:max-w-3xl"
            >
              Whether energy or crops, farmers are stewards of their land and
              work hard to preserve it.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!--
██ ███    ██ ████████ ██████   ██████  
██ ████   ██    ██    ██   ██ ██    ██ 
██ ██ ██  ██    ██    ██████  ██    ██ 
██ ██  ██ ██    ██    ██   ██ ██    ██ 
██ ██   ████    ██    ██   ██  ██████  
-->

    <div
      class="overflow-hidden bg-gray-100 py-16 px-4 sm:px-6 lg:px-8 xl:py-36"
    >
      <div class="mx-auto max-w-max lg:max-w-7xl">
        <div class="relative z-10 mb-8 md:mb-2 md:px-6">
          <div class="max-w-prose text-base lg:max-w-none">
            <p
              class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl"
            >
              What's This About?
            </p>
          </div>
        </div>
        <div class="relative">
          <div class="relative md:p-6">
            <div class="lg:grid lg:grid-cols-2 lg:gap-6">
              <div
                class="prose prose-lg prose-indigo text-gray-500 lg:max-w-none text-3xl"
              >
                <p class="mb-5">
                  A proposed project in Lenawee County, Michigan would use an
                  array of photovoltaic solar collectors to generate up to 155
                  megawatts of clean electricity for the region, at the same
                  time preserving farmland from irreversible development.
                </p>
                <p>
                  Solar power is one of the most cost-effective sources of
                  electricity available today and helps reduce electricity costs
                  for everyone.
                </p>
              </div>
              <div
                class="prose prose-lg prose-indigo mt-6 text-gray-500 lg:mt-0"
              >
                <div
                  class="fb-page fb_iframe_widget"
                  data-href="https://www.facebook.com/LenaweeSolar"
                  data-tabs="timeline"
                  data-width="500"
                  data-height=""
                  data-small-header="true"
                  data-adapt-container-width="true"
                  data-hide-cover="false"
                  data-show-facepile="true"
                  fb-xfbml-state="rendered"
                  fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=122216907895239&amp;container_width=0&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FLenaweeSolar&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;tabs=timeline&amp;width=500"
                >
                  <span
                    style="
                      vertical-align: top;
                      width: 0px;
                      height: 0px;
                      overflow: hidden;
                    "
                    ><iframe
                      name="f1d487bbe26ed86"
                      width="500px"
                      height="1000px"
                      data-testid="fb:page Facebook Social Plugin"
                      title="fb:page Facebook Social Plugin"
                      frameborder="0"
                      allowtransparency="true"
                      allowfullscreen="true"
                      scrolling="no"
                      allow="encrypted-media"
                      style="
                        border: none;
                        visibility: visible;
                        width: 0px;
                        height: 0px;
                      "
                      src="https://www.facebook.com/v12.0/plugins/page.php?adapt_container_width=true&amp;app_id=122216907895239&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df155074d536a24e%26domain%3Dlenaweesolar.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Flenaweesolar.com%252Ff14313339ab5ab%26relation%3Dparent.parent&amp;container_width=0&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FLenaweeSolar&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;tabs=timeline&amp;width=500"
                    ></iframe
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--
███████ ███████  █████  ████████ ██    ██ ██████  ███████ ███████ 
██      ██      ██   ██    ██    ██    ██ ██   ██ ██      ██      
█████   █████   ███████    ██    ██    ██ ██████  █████   ███████ 
██      ██      ██   ██    ██    ██    ██ ██   ██ ██           ██ 
██      ███████ ██   ██    ██     ██████  ██   ██ ███████ ███████ 
-->

    <!-- Alternating Feature Sections -->
    <div class="relative overflow-hidden pt-16 pb-32">
      <div
        aria-hidden="true"
        class="absolute inset-x-0 top-0 h-48 bg-gradient-to-b from-gray-100"
      ></div>
      <div class="relative">
        <div
          class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8"
        >
          <div
            class="mx-auto max-w-xl px-4 sm:px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0"
          >
            <div>
              <div>
                <span
                  class="flex h-12 w-12 items-center justify-center rounded-md bg-gradient-to-r from-green-600 to-blue-600"
                >
                  <svg
                    class="h-6 w-6 text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
                    />
                  </svg>
                </span>
              </div>
              <div class="mt-6">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900">
                  Solar energy in Lenawee would provide benefits all around...
                </h2>
                <ul class="list-disc list-inside my-4">
                  <li class="mb-2">Provide clean, secure electricity</li>
                  <li class="mb-2">Stabilize energy costs</li>
                  <li class="mb-2">Promote local economic development</li>
                  <li class="mb-2">Expand the community tax base</li>
                  <li class="mb-2">Preserve farmland from irreversible development</li>
                  <li>
                    Keeps farmland in production while rebuilding the soil
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="mt-12 sm:mt-16 lg:mt-0">
            <div
              class="-mr-48 pl-4 sm:pl-6 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0"
            >
              <img
                class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
                src="/images/aerial.jpg"
                alt="Aerial view of solar panel farm"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="bg-white mt-24 py-12">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="lg:text-center">
            <p
              class="mt-2 max-w-2xl text-3xl lg:mx-auto leading-8 tracking-tight text-gray-900 sm:text-4xl"
            >
              This website seeks to provide factual information to combat
              misinformation.
            </p>
            <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
              Fossil fuel companies that have not invested in alternatives are
              understandably threatened and many myths regarding energy
              production have emerged. This website seeks to provide factual
              information in lieu of misinformation.
            </p>
          </div>
        </div>
      </div>

      <div class="mt-24">
        <div
          class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8"
        >
          <div
            class="mx-auto max-w-xl px-4 sm:px-6 lg:col-start-2 lg:mx-0 lg:max-w-none lg:pb-24 lg:px-0"
          >
            <div>
              <div>
                <span
                  class="flex h-12 w-12 items-center justify-center rounded-md bg-gradient-to-r from-green-600 to-blue-600"
                >
                  <svg
                    class="h-6 w-6 text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 4.5v15m6-15v15m-10.875 0h15.75c.621 0 1.125-.504 1.125-1.125V5.625c0-.621-.504-1.125-1.125-1.125H4.125C3.504 4.5 3 5.004 3 5.625v12.75c0 .621.504 1.125 1.125 1.125z"
                    />
                  </svg>
                </span>
              </div>
              <div class="mt-6">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900">
                  Myth #1: We can't afford to give up the land.
                </h2>
                <p class="mt-4 text-lg text-gray-500">
                  Only 11% of total corn acreage goes to food production and
                  consumption. 40% of the land in the US dedicated to growing
                  corn goes to ethanol, with another 12% being exported. The
                  ethanol plant in Blissfield, Michigan recently closed down and
                  many more are scaling back production, leaving farmers with a
                  <a
                    href="https://www.michiganfarmnews.com/ethanol-industry-on-the-edge-of-collapse-"
                    class="underline hover:no-underline"
                    >potential collapse of that market</a
                  >.
                </p>
                <p class="mt-4 text-lg text-gray-500">
                  The estimated land needed for a 100% solar powered America is
                  6,000,000 acres dedicated to solar production. Ethanol
                  production currently accounts for 21,000,000 acres of farm
                  land.
                </p>
                <p class="mt-4 text-lg text-gray-500">
                  <strong
                    >The biggest factor in the loss of farm acreage? Urban
                    sprawl.</strong
                  >
                </p>
                <p class="mt-4 text-lg text-gray-500">
                  In the last 20 years, more than 11 million acres of US
                  farmland have been converted, fragmented or paved over by
                  development projects, according to
                  <a
                    href="https://www.pri.org/stories/2020-08-07/us-lost-11-million-acres-farmland-development-past-2-decades"
                    class="underline hover:no-underline"
                    >a report by the American Farmland Trust</a
                  >.
                </p>
              </div>
            </div>
          </div>
          <div class="mt-12 sm:mt-16 lg:col-start-1 lg:mt-0">
            <div
              class="-ml-48 pr-4 sm:pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0"
            >
              <img
                class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:w-100 lg:max-w-none"
                src="/images/landuse.jpg"
                alt="Land use by industry"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="mt-24">
        <div
          class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8"
        >
          <div
            class="mx-auto max-w-xl px-4 sm:px-6 lg:col-start-2 lg:mx-0 lg:max-w-none lg:pb-24 lg:px-0"
          >
            <div>
              <div>
                <span
                  class="flex h-12 w-12 items-center justify-center rounded-md bg-gradient-to-r from-green-600 to-blue-600"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 text-white"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"
                    />
                  </svg>
                </span>
              </div>
              <div class="mt-6">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900">
                  Myth #2: Nuclear is the only option.
                </h2>
                <p class="mt-4 text-lg text-gray-500">
                  Nuclear can and should be part of the mix of energy production
                  that gets us to a zero emission future, but as far as
                  arguments against solar go, it doesn't make a lot of sense.
                </p>
                <p class="mt-4 text-lg text-gray-500">
                  Nuclear plants are far more of an eye sore, they're nearly
                  impossible to remove when and if they're not needed anymore,
                  and they use quite a bit of land themselves.
                </p>
                <p class="mt-4 text-lg text-gray-500">
                  Not to mention they are extremely expensive, long term storage
                  of spent fuel is a continuing issue, and they are susceptible
                  to physical and cyber attack..
                </p>
              </div>
            </div>
          </div>
          <div class="mt-12 sm:mt-16 lg:col-start-1 lg:mt-0">
            <div
              class="-ml-48 pr-4 sm:pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0"
            >
              <img
                class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:w-100 lg:max-w-none"
                src="/images/nuclear.jpg"
                alt="Land use by industry"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="mt-24">
        <div
          class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8"
        >
          <div
            class="mx-auto max-w-xl px-4 sm:px-6 lg:col-start-2 lg:mx-0 lg:max-w-none lg:pb-24 lg:px-0"
          >
            <div>
              <div>
                <span
                  class="flex h-12 w-12 items-center justify-center rounded-md bg-gradient-to-r from-green-600 to-blue-600"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 text-white"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                </span>
              </div>
              <div class="mt-6">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900">
                  Myth #3: It doesn't make economic sense.
                </h2>
                <p class="mt-4 text-lg text-gray-500">
                  The project would generate up to approximately $31.1 million
                  in cumulative county, township and school district tax revenue
                  over the facility’s anticipated 35-year operational life.
                </p>
                <p class="mt-4 text-lg text-gray-500">
                  A Blissfield Solar project would provide a total of
                  approximately $2.5 million over the 35-year life of the
                  project to Blissfield Community Schools (in 2021 dollars),
                  assuming the sinking fund levy will be extended.
                </p>
                <p class="mt-4 text-lg text-gray-500">
                  The project can be fully bonded to protect the community and
                  cover the cost of decommissioning at the end of the systems’
                  35-year life, does not require access to potable water, sewer
                  services, has no emissions or polutants, and only requires
                  access by 3-4 vehicles at a time for maintenance.
                </p>
              </div>
            </div>
          </div>
          <div class="mt-12 sm:mt-16 lg:col-start-1 lg:mt-0">
            <div
              class="-ml-48 pr-4 sm:pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0"
            >
              <img
                class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:w-100 lg:max-w-none"
                src="/images/beekeeper.jpg"
                alt="Land use by industry"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-white">
      <div class="mx-auto max-w-7xl py-16 px-4 sm:px-6 lg:px-8">
        <div
          class="mx-auto max-w-lg md:grid md:max-w-none md:grid-cols-2 md:gap-8"
        >
          <div>
            <h2
              class="text-2xl font-bold text-gray-900 sm:text-3xl sm:tracking-tight"
            >
              What can you do to help support clean, profitable energy in
              Lenawee County?
            </h2>
            <ul class="list-disc my-4">
              <li class="mb-4">Get informed about the facts of solar energy.</li>
              <li class="mb-4">
                Prepare yourself to try and find common ground with others, let
                them understand why you are doing this and the benefit that it
                offers for the community.
              </li>
              <li class="mb-4">Collect letters of support from friends and family.</li>
              <li class="mb-4">
                Build relationships with your Township Officials and Planning
                Commission Members by calling them and meeting with them to show
                them all the benefits of the project and why you are doing this.
              </li>
              <li class="mb-4">Submit Letters to the Editor.</li>
              <li class="mb-4">
                Organize your friends and family to attending public hearings
                and voicing support for the project.
              </li>
            </ul>
          </div>
          <div class="mt-12 sm:mt-16 md:mt-0">
            <div class="w-embed w-script"><a name="form"></a>
              <link
                href="https://actionnetwork.org/css/style-embed-whitelabel-v3.css"
                rel="stylesheet"
                type="text/css"
              />
              <script src="https://actionnetwork.org/widgets/v4/petition/letter-of-support-for-solar-in-lenawee-county?format=js&source=widget"></script>
              <div
                id="can-petition-area-letter-of-support-for-solar-in-lenawee-county"
                style="width: 100%"
              >
                <!-- this div is the target for our HTML insertion -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <footer class="bg-gray-50" aria-labelledby="footer-heading">
    <div class="mx-auto max-w-7xl px-4 pt-2 pb-8 sm:px-6 lg:px-8">
      <div
        class="mt-2 border-t border-gray-200 pt-8 md:flex md:items-center md:justify-between lg:mt-16"
      >
        <div class="flex space-x-6 md:order-2">
          <a
            href="https://www.facebook.com/lenaweesolar"
            class="text-gray-400 hover:text-gray-500"
          >
            <span class="sr-only">Facebook</span>
            <svg
              class="h-6 w-6"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
        </div>
        <p class="mt-8 text-base text-gray-400 md:order-1 md:mt-0">
          Brought to you by a handful of locals with zero financial stake in
          this project.
        </p>
      </div>
    </div>
  </footer>
</div>

{{ end }}
