{{ define "main" }}

<!--
██   ██ ███████  █████  ██████  ███████ ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
███████ █████   ███████ ██   ██ █████   ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
██   ██ ███████ ██   ██ ██████  ███████ ██   ██                               
-->

<div class="bg-white">
  <div class="bg-green-800 text-white text-center py-4">
    <p class="">
      <a href="#form" class=""
        >Sign the petition that Says YES to a Solar-Powered Lenawee!</a
      >
    </p>
  </div>

  <header>
    <div class="relative bg-white">
      <div
        class="mx-auto flex max-w-7xl items-center justify-between px-4 py-6 sm:px-6 md:justify-start md:space-x-10 lg:px-8"
      >
        <div class="flex justify-start lg:w-0 lg:flex-1">
          <a href="#">
            <span class="sr-only">Say Yes to a Solar Powered Lenawee</span>
            <img class="h-12 w-auto sm:h-10" src="/images/logo.png" alt="" />
          </a>
        </div>

        <nav class="space-x-10 md:flex">
          <a
            href="letter.html"
            class="text-base font-medium text-gray-500 hover:text-gray-900"
            >Letter</a
          >
          <a
            href="https://www.facebook.com/lenaweesolar"
            class="text-base font-medium text-gray-500 hover:text-gray-900"
            >Facebook</a
          >
          <a
            href="#form"
            class="text-base font-medium text-gray-500 hover:text-gray-900"
            >Sign the Petition</a
          >
        </nav>
      </div>
    </div>
  </header>

  <!--
███    ███  █████  ██ ███    ██ 
████  ████ ██   ██ ██ ████   ██ 
██ ████ ██ ███████ ██ ██ ██  ██ 
██  ██  ██ ██   ██ ██ ██  ██ ██ 
██      ██ ██   ██ ██ ██   ████ 
-->
  <main>
    <!--Container-->
    <div class="container w-full md:max-w-3xl mx-auto pt-20">
      <div
        class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal"
        style="font-family: Georgia, serif"
      >
        <!--Title-->
        <div class="font-sans">
          <p class="text-base md:text-sm text-green-500 font-bold">
            &lt;
            <a
              href="#"
              class="text-base md:text-sm text-green-500 font-bold no-underline hover:underline"
              >BACK TO BLOG</a
            >
          </p>
          <h1
            class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl"
          >
            Welcome to Minimal Blog
          </h1>
          <p class="text-sm md:text-base font-normal text-gray-600">
            Published 19 February 2019
          </p>
        </div>

        <!--Post Content-->

        <!--Lead Para-->
        <p class="py-6">
          👋 Welcome fellow
          <a
            class="text-green-500 no-underline hover:underline"
            href="https://www.tailwindcss.com"
            >Tailwind CSS</a
          >
          and miminal monochrome blog fan. This starter template provides a
          starting point to create your own minimal monochrome blog using
          Tailwind CSS and vanilla Javascript.
        </p>

        <p class="py-6">
          The basic blog page layout is available and all using the default
          Tailwind CSS classes (although there are a few hardcoded style tags).
          If you are going to use this in your project, you will want to convert
          the classes into components.
        </p>

        <h1 class="py-2 font-sans">Heading 1</h1>
        <h2 class="py-2 font-sans">Heading 2</h2>
        <h3 class="py-2 font-sans">Heading 3</h3>
        <h4 class="py-2 font-sans">Heading 4</h4>
        <h5 class="py-2 font-sans">Heading 5</h5>
        <h6 class="py-2 font-sans">Heading 6</h6>

        <p class="py-6">
          Sed dignissim lectus ut tincidunt vulputate. Fusce tincidunt lacus
          purus, in mattis tortor sollicitudin pretium. Phasellus at diam
          posuere, scelerisque nisl sit amet, tincidunt urna. Cras nisi diam,
          pulvinar ut molestie eget, eleifend ac magna. Sed at lorem
          condimentum, dignissim lorem eu, blandit massa. Phasellus eleifend
          turpis vel erat bibendum scelerisque. Maecenas id risus dictum,
          rhoncus odio vitae, maximus purus. Etiam efficitur dolor in dolor
          molestie ornare. Aenean pulvinar diam nec neque tincidunt, vitae
          molestie quam fermentum. Donec ac pretium diam. Suspendisse sed odio
          risus. Nunc nec luctus nisi. Class aptent taciti sociosqu ad litora
          torquent per conubia nostra, per inceptos himenaeos. Duis nec nulla
          eget sem dictum elementum.
        </p>

        <ol>
          <li class="py-3">
            Maecenas accumsan lacus sit amet elementum porta. Aliquam eu libero
            lectus. Fusce vehicula dictum mi. In non dolor at sem ullamcorper
            venenatis ut sed dui. Ut ut est quam. Suspendisse quam quam, commodo
            sit amet placerat in, interdum a ipsum. Morbi sit amet tellus
            scelerisque tortor semper posuere.
          </li>
          <li class="py-3">
            Morbi varius posuere blandit. Praesent gravida bibendum neque eget
            commodo. Duis auctor ornare mauris, eu accumsan odio viverra in.
            Proin sagittis maximus pharetra. Nullam lorem mauris, faucibus ut
            odio tempus, ultrices aliquet ex. Nam id quam eget ipsum luctus
            hendrerit. Ut eros magna, eleifend ac ornare vulputate, pretium nec
            felis.
          </li>
          <li class="py-3">
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Nunc vitae pretium elit. Cras leo mauris,
            tristique in risus ac, tristique rutrum velit. Mauris accumsan
            tempor felis vitae gravida. Cras egestas convallis malesuada. Etiam
            ac ante id tortor vulputate pretium. Maecenas vel sapien suscipit,
            elementum odio et, consequat tellus.
          </li>
        </ol>

        <blockquote
          class="border-l-4 border-green-500 italic my-8 pl-8 md:pl-12"
        >
          Example of blockquote - Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet
          ligula.
        </blockquote>

        <p class="py-6">Example code block:</p>
        <pre
          class="bg-gray-900 rounded text-white font-mono text-base p-2 md:p-4"
        >
				<code class="break-words whitespace-pre-wrap">
&lt;header class="site-header outer"&gt;
&lt;div class="inner"&gt;
{{&gt; "site-nav"}}
&lt;/div&gt;
&lt;/header&gt;
				</code>
			</pre>

        <!--/ Post Content-->
      </div>
    </div>

      <!-- This example requires Tailwind CSS v2.0+ -->
      <div class="bg-white">
        <div class="mx-auto max-w-7xl py-16 px-4 sm:px-6 lg:px-8">
          <div
            class="mx-auto max-w-lg md:grid md:max-w-none md:grid-cols-2 md:gap-8"
          >
            <div>
              <h2
                class="text-2xl font-bold text-gray-900 sm:text-3xl sm:tracking-tight"
              >
                What can you do to help support clean, profitable energy in
                Lenawee County?
              </h2>
              <ul class="list-disc my-4">
                <li>Get informed about the facts of solar energy.</li>
                <li>
                  Prepare yourself to try and find common ground with others,
                  let them understand why you are doing this and the benefit
                  that it offers for the community.
                </li>
                <li>Collect letters of support from friends and family.</li>
                <li>
                  Build relationships with your Township Officials and Planning
                  Commission Members by calling them and meeting with them to
                  show them all the benefits of the project and why you are
                  doing this.
                </li>
                <li>Submit Letters to the Editor.</li>
                <li>
                  Organize your friends and family to attending public hearings
                  and voicing support for the project.
                </li>
              </ul>
            </div>
            <div class="mt-12 sm:mt-16 md:mt-0">
              <div class="w-embed w-script">
                <a name="form"></a>
                <link
                  href="https://actionnetwork.org/css/style-embed-whitelabel-v3.css"
                  rel="stylesheet"
                  type="text/css"
                />
                <script src="https://actionnetwork.org/widgets/v4/petition/letter-of-support-for-solar-in-lenawee-county?format=js&source=widget"></script>
                <div
                  id="can-petition-area-letter-of-support-for-solar-in-lenawee-county"
                  style="width: 100%"
                >
                  <!-- this div is the target for our HTML insertion -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="bg-gray-50" aria-labelledby="footer-heading">
        <div class="mx-auto max-w-7xl px-4 pt-2 pb-8 sm:px-6 lg:px-8">
          <div
            class="mt-2 border-t border-gray-200 pt-8 md:flex md:items-center md:justify-between lg:mt-16"
          >
            <div class="flex space-x-6 md:order-2">
              <a
                href="https://www.facebook.com/lenaweesolar"
                class="text-gray-400 hover:text-gray-500"
              >
                <span class="sr-only">Facebook</span>
                <svg
                  class="h-6 w-6"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </div>
            <p class="mt-8 text-base text-gray-400 md:order-1 md:mt-0">
              Brought to you by a handful of locals with zero financial stake in
              this project.
            </p>
          </div>
        </div>
      </footer>
    </div>

    {{ end }}
  </main>
</div>
